.section{
    margin: 4%;
}
.heading{
    font-size: 45px;
    font-weight: bold;
    margin: 2%;
}
.office {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 3%;
}

.contact{
    font-size: 20px;
    font-weight: bold;
    margin-top: 1%;
}